.center__div {
  position: absolute; /* Establece la posición del div como absoluta */
  top: 47%; /* Mueve el div hacia abajo un 50% de la altura del contenedor padre */
  left: 50%; /* Mueve el div hacia la derecha un 50% de la anchura del contenedor padre */
  transform: translate(-50%, -50%); /* Desplaza el div hacia arriba y hacia la izquierda un 50% de su propio tamaño */
}

.col-3{
  padding-left: 10px !important;
  padding-right: 10px !important;
  text-align: center;
  border: 0.5px solid #ff0085;
}

.first_data{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.last_data{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}